#content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
}

#awesomecc {
  margin-top: 15px;
  text-align: center;
}

#awesomecc + p {
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 1.4rem;
  font-size: 25px;
  border-bottom: 1px solid #F1F1F1;
  line-height: 1.5
}

ul li {
  padding-left: .3em;
  list-style-position: outside;
  padding: 10px 0;
  margin-top: 10px;
  border-bottom: 1px solid #EEE;
}

ul li:last-child {
  border-bottom: none
}

h2 {
  margin-top: 20px;
  border-top: 1px solid #BBB;
  padding-top: 20px;
}
